<div class="container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between column-gap-3 row-gap-2 py-3 mb-4 border-bottom">
		<div class="col-md-3">
			<a href="{{ path('app_home') }}" 
				class="d-inline-flex link-success text-decoration-none">
				<img src="{{ asset('images/website/cactus.svg') }}" width="50" height="50" alt="Dessin d'un cactus">
				<span class="fs-4 mx-2 my-auto">Kipik !</span>
			</a>
		</div>
		<div class="d-flex align-items-center gap-3">
			{% if is_granted("ROLE_USER") %}
				<div class="dropdown">
					<button  data-bs-toggle="dropdown" aria-expanded="false" 
					class="btn btn-success dropdown-toggle">
						<img src="{{ asset('images/website/account.svg') }}" width="30" height="30" alt="Icône compte utilisateur" class="align-middle d-inline d-sm-none">
						<span class="d-none d-sm-inline">Compte</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" href="{{ path('app_user_interface') }}">Mes infos</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Mes commandes</a>
						</li>
						<li>
							<a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
						</li>
					</ul>
				</div>
			{% else %}
			<div class="d-flex gap-2">
				<a href="{{ path('app_login') }}" class="btn btn-outline-success">Connexion</a>
				<a href="{{ path('app_register') }}" class="btn btn-success">Inscription</a>
			</div>
			{% endif %}
			<a href="{{ path('app_cart') }}" class="cart btn btn-outline-success">
				<img src="{{ asset('images/website/cart.svg') }}" width="30" height="30" alt="Dessin d'un cactus" class="align-middle">
				<span class="cart__items align-middle fs-5">{{ cartService.getCartTotalItems }}</span>
			</a>
		</div>
	</header>
</div>
