{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">Mes informations</h1 >

    {{ include('partials/_flash_messages.html.twig') }}

    <div class="col-12">
        <div class="border-bottom mt-3">
            <p class="h5">Adresse email</p>
            <div class="d-flex justify-content-between">
                <p>{{app.user.email}}</p>
                <span data-bs-toggle="modal" data-bs-target="" role="button" 
                    class="link-success text-decoration-underline">
                    Modifier
                </span>
            </div>
        </div>
        <div class="border-bottom mt-3">
            <p class="h5">Mot de passe</p>
            <div class="d-flex justify-content-between">
                <p>***********</p>
                <span data-bs-toggle="modal" data-bs-target="" role="button" 
                    class="link-success text-decoration-underline">
                    Modifier
                </span>
            </div>
        </div>

        {% if userType is same as('admin') %}
        <div class="border-bottom mt-3">
            <p class="h5">Alias</p>
            <div class="d-flex justify-content-between">
                <div>
                    <p>{{app.user.alias}}</p>
                </div>
                <span data-bs-toggle="modal" data-bs-target="" role="button" 
                    class="link-success text-decoration-underline">
                    Modifier
                </span>
            </div>
        </div>

        {% elseif (userType is same as('client')) and (app.user.isFullyRegistered) %}
        <div class="border-bottom mt-3">
            <p class="h5">Nom et prénom</p>
            <div class="d-flex justify-content-between">
                <div>
                    <p>{{app.user.firstname|capitalize}} {{app.user.lastname|capitalize}}</p>
                </div>
                <span data-bs-toggle="modal" data-bs-target="" role="button" 
                    class="link-success text-decoration-underline">
                    Modifier
                </span>
            </div>
        </div>
        <div class="border-bottom mt-3">
            <p class="h5">Adresse</p>
            <div class="d-flex justify-content-between mb-3">
                <div class="d-flex flex-column">
                    <span>{{app.user.address.street}}</span>
                    <span>{{app.user.address.zip}}</span>
                    <span>{{app.user.address.city}}</span>
                </div>
                <span data-bs-toggle="modal" data-bs-target="" role="button" 
                    class="link-success text-decoration-underline align-self-end">
                    Modifier
                </span>
            </div>
        </div>
        <div class="border-bottom mt-3">
            <p class="h5">Porte-monaie</p>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Solde : {{app.user.wallet.amount}} €</p>
                </div>
                <span data-bs-toggle="modal" data-bs-target="#walletFormModal" role="button"
                    class="link-success text-decoration-underline">
                    Créditer
                </span>
            </div>
        </div>

        {% elseif (userType is same as('client')) and (not app.user.isFullyRegistered) %}
            <div class="my-5 mx-auto">
                <p>Pour pouvoir passer commande, vous devez compléter votre inscription.</p>
                <p>Merci de remplir ce <a href="{{ path('app_client_register') }}">formulaire</a>.</p>
            </div>
        {% endif %}
    </div>
    
    <div id="walletFormModal" class="modal fade" tabindex="-1" aria-hidden="true">
        {{ render(controller(
            'App\\Controller\\UserInterfaceController::addCredit'
        ))}}
    </div>
</div>
{% endblock %}
